{% include 'header.html' %}
<div class="container" style="height: 30rem;">
    <h1 style="font-size: 6rem;padding-bottom: 0.3rem;" class="font-poppins w100" id="todo">Select Frame</h1>
    <div class="card border-light bg-transparent" style="height: 38rem;border-radius: 30px;">
        <div class="card-body">
          
            {% with messages = get_flashed_messages() %}
              {% if messages %}
              <h2 class="card-title font-poppins w100 warning" >{{messages[0]}}</h2>
              {% else %}
              <h2 class="card-title font-poppins w200" style="margin-bottom: 0.7rem">Form</h2>
              {% endif %}
            {% endwith %}  
            {% if file %}        
              {% set dur = file.n_frames - 1 %}
            {% endif %}

          <form action="{% if file %}{{ url_for('gifValidate',path=path) }} {% else %}
          {{url_for('videoValidate',path=path)}}
          {% endif %}" 
          method="post" novalidate style="height:92%">

              <div style="display:grid;place-items: center">
                <div>
                <div class="gif-container"  >
                  {% if file %}
                  <img class="gif" src="{{ path }}" >
                  <span style="background-color: rgba(36, 35, 35, 0.767);position: relative;height: 2rem;bottom:1.5rem;
                  font-size: 1.6rem;padding: 0 2rem;border-radius: 50px"
                  class="font-poppins w500">
                  {{dur}} frames
                  </span>

                  {% else %}
                  <iframe class="video" src="{{ path }}"
                  {% if (shape['width']<= shape['max-w']) and (shape['height'] <= shape['max-h']) %}
                   width="{{shape['width']}}" height="{{shape['width']}}">
                  {% else %}
                  width="{{shape['max-w']}}" height="{{shape['max-h']}}">
                  {% endif %}
                  </iframe>
                  {% endif %}
                  
                </div>
                
                </div>
                
                <input class="card border-light bg-transparent font-poppins w200"
                type="text" name="frame" placeholder="Select a {% if file %}frame (1 - {{dur}}){% else %}Moment (0:00 - {{dur}}){% endif %}" id="frame"
                style="border: 0; border-bottom: solid 1px; width: 25rem;height: 3rem;font-size: 1.5rem;position: relative;bottom:0rem;text-align: center;
                {% if not file%} top:1.5rem {% endif %}">
              </div>
            
            
        
        </div>
    </div>
    <div class="row" style="margin-top: 2rem;">
      <div class="col-4">
      </div>
      <div class="col-4">
          <button class="btn btn-warning btn-block font-poppins w700"
          style="margin-top: 1rem;border-radius: 10px;font-size: 1.2rem;position: relative;bottom: 1.75rem;" type="submit">Select</button>
      </div>
      <div class="col-4">
      </div>
  </div>
    </form>
        <p id="copyright" class="font-poppins w200 footer fixed-bottom" >Copyright &copy Tymon Jasiński 2022</p>

    </body>

</html>