{% include "header.html" %}
<div>
  <h1 style="font-size: 6rem;color: white;" class="text-center font-poppins w100" id="title">Color extractor</h1>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
          <p class="font-poppins w300" style="color:white;text-align:center" >{{message}}</p>
      {% endfor %}
    {% endif %}
  {% endwith %}
  {% if not path %}
  <div style="display:grid;place-items: center">
    <form action="{{ url_for('home') }}" method="post" enctype="multipart/form-data">
      <input type="file" name="color" id="color" class="btn font-poppins w300" style="color: white;">
      <button class="btn font-poppins w300" type="submit" style="display: block;margin: 1rem auto;color: white;border: 2px solid #6c5ce7;">Send</button>
    </form>
    <p class="font-poppins w300" style="font-size: 1.3rem;">(This may take a few seconds)</p>
  </div>
  {% else %}
  <div class="card border-light bg-transparent" style="width: 60rem;margin:0 auto;border-radius: 30px">
    <div class="card-body">
    <img class="img-extract" src="{{ path }}" >
    </div>
    {% if clrs %}
    <div class="clr-container" >
        {% for clr in clrs %}
        <div class="clr" style="background-color:{{clr}}">
          <p class="font-poppins w500 clr-label text-center">{{clr}}</p>
        </div>
        {% endfor %}   
    </div>
    {% endif %}
  </div>
  {% endif %}
</div>
</div>

{% include "footer.html" %}